:root{

    /* colors */
    green-color:#16a34a;
    orange-color:#ed7e0f;
    black-color:#000000;
    white-color:#ffffff;
    blue-color:#2563eb;
    text-color:#657489;

    /* font family */
    --font-family: 'figtree', sans-serif;

    /* font sizes */
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-base: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 32px;
    --fs-4xl: 40px;
    --fs-5xl: 48px;

}

